*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    Width:100%;
    height:100vh;
    background-image:url("sd.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.header{
    padding-top:20px;
    width:100%;
    height:100px;
}
.logo{
    float:left;
    width:70px; 
    height:60px;
    margin-left:50px;
}
.logo > img{
    width:60px;
    height:60px;
}
.menu{
    float: right;
    width:70px;
    height:60px;
}
.menu > img{
    width:40px;
    height:40px;
}
.nav{
    width:300px;
    height:60px;
    float:right;
    margin-right: 50px;
}
.nav > ol{
    display:inline-block;
}
.nav> ol> li{
    float:left;
    list-style: none;
    color:white;
    padding-left:20px;
}
.parent-container{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.container1{
     width:300px;
     height:200px;
}
.container2{
   width:500px;
    height:350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}
.card{
    width:250px;
    height:180px;
}
.card img{
    width:200px;
    height:100px;
}
@media screen and (max-width:500px){
    .main-container{
        height:100vh;
    }
}
@media screen and (max-width:500px){
    .parent-container{
        flex-direction: column;
        width:100%;
    }
}
@media screen and (max-width:500px){
    .container2{
        flex-direction: column;
         width:100%;
    }
}